{"filter":false,"title":"requirements.txt","tooltip":"/cdkapp/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":3,"mode":"ace/mode/text"}},"timestamp":1711233413475,"hash":"34b38b033d6110ba0742d7cb88e1f23ec9a1f558"}